<div class="bottomnav bottomnav-links hide-on-mobile">
    <h3>Main categories</h3>
    <p><a href="/hardware.html">Hardware</a><br></p>
    <p><a href="/media.html">Media</a></p>
    <p><a href="/minecraft-contents.html">Minecraft content</a><br></p>
    <p><a href="/support.html">Support</a></p>
    <h3>Featured projects</h3>
    <p><a href="/oitswilliamv2.html">OITSWILLIAMV2</a></p>
    <p><a href="/oitswilliam-s-minecraft-survival-livestream.html" class="">Oitswilliam's MC SLS</a></p>
    <p><a href="/sheer-dedicated-server.html" class="">Sheer Dedicated Server</a></p><p></p>
    <h3>Legacy projects</h3>
    <p><a href="/legacy-projects.html">Bunny 350 Minecraft projects</a></p>
    </div>
<div class="hide-on-mobile bottomnav bottomnav-links">
    <h3><span style="background-color: transparent;">About</span><br></h3>
    <p><a href="/behind-the-new-logo.html">Behind the new logo</a></p>
    <p><a href="/rigs.html" class="">Rigs</a></p>
    <p><a href="/future-events.html" class="">Future events</a><br></p>
    <p><a href="/oitswilliam-s-serialized-voron-printers.html" class="">Serialized Voron printers</a><br></p>
    <h3>Usage Policies<br></h3>
    <p><a href="/terms-of-use.html">Terms of Use</a></p>
    <p><a href="/oitswilliam-s-minecraft-maps-and-legacy-projects-policies.html" class="">Oitswilliam's MC Maps Policy</a><br></p>
    <p><a href="/sheer-dedicated-server-usage-policy.html">SDS Usage Policy</a><br></p>
</div>
