<div id="izp9zr3-9-2" class="main-links footer-nav hide-on-mobile">
    <div id="ijpscfp-3-14" class="footer-nav hide-on-mobile">
        <h3 id="iha1ect-2-3-14">Main categories</h3>
        <p id="iejg7kj-4-14">
            <a href="/hardware.html" id="ia0ytdj-4-14">Hardware</a>
        </p>
        <p id="iejg7kj-2-5-14">
            <a href="/media.html" id="ia0ytdj-2-5-14">Media</a>
        </p>
        <p id="iejg7kj-2-3-4-14">
            <a href="/minecraft-content.html" id="ia0ytdj-2-3-4-14">For Minecraft</a>
        </p>
        <p id="iejg7kj-2-2-3-14">
            <a href="/support.html" id="ia0ytdj-2-2-2-14">Support</a>
        </p>
        <h3 id="iha1ect-4-14">
            Featured projects
            <br id="ig51bx7-3-14">
        </h3>
        <p id="iejg7kj-2-3-2-5-14">
            <a href="/interview-with-oitswilliam.html" id="ia0ytdj-2-3-2-5-14">
                Interview with Oitswilliam
                <br id="i2rs205-5-14">
            </a>
        </p>
        <p id="iejg7kj-2-3-2-3-3-14">
            <a href="/oitswilliamv2.html" id="ia0ytdj-2-3-2-3-3-14">
                OitswilliamV2
                <br id="i2rs205-3-3-14">
            </a>
        </p>
        <p id="iejg7kj-2-3-2-2-3-14">
            <a href="/oitswilliamv0.html" id="ia0ytdj-2-3-2-2-3-14">
                OITSWILLIAMV0
                <br id="i2rs205-2-3-14">
            </a>
        </p>
    </div>
    <div id="ijpscfp-2-2-14" class="footer-nav hide-on-mobile">
        <h3 id="iha1ect-2-2-2-14">About</h3>
        <p id="iejg7kj-3-2-14">
            <a href="/owned-3d-printers.html" id="ia0ytdj-3-2-14">Owned 3D printers</a>
        </p>
        <p id="iejg7kj-2-4-2-14">
            <a href="/rigs.html" id="ia0ytdj-2-4-2-14">Rigs</a>
        </p>
        <p id="iejg7kj-2-3-3-2-14">
            <a href="/events.html" id="ia0ytdj-2-3-3-2-14">Future events</a>
        </p>
        <p id="iejg7kj-2-2-2-2-14"></p>
        <h3 id="iha1ect-3-2-14">
            Using Oitswilliam's products
            <br id="ig51bx7-2-2-14">
        </h3>
        <p id="iejg7kj-2-3-2-4-2-14">
            <a href="/terms-of-use.html" id="ia0ytdj-2-3-2-4-2-14">
                Terms of Use
                <br id="i2rs205-4-2-14">
            </a>
        </p>
        <p id="iejg7kj-2-3-2-3-2-2-14">
            <a href="/oitswilliam-pang-minecraft-maps-and-legacy-projects-policies.html" id="ia0ytdj-2-3-2-3-2-2-14">
                Oitswilliam's MC Maps Policy
                <br id="i2rs205-3-2-2-14">
            </a>
        </p>
        <p id="iejg7kj-2-3-2-2-2-2-14">
            <a href="/sheer-dedicated-server-usage-policy.html" id="ia0ytdj-2-3-2-2-2-2-14">
                SDS Usage Policy
                <br id="i2rs205-2-2-2-14">
            </a>
        </p>
    </div>
</div>
