{% macro t(key) %}{{ {

    "blog.by": "by",
    "tags.one": "Tag",
    "tags.multi": "Tags",
    "blog.created_on": "Issued on ",
    "blog.updated_on": "Updated on ",
    "blog.note.public-service-announcement": "Public Service Announcement",

    "announcement.description": "Announcement posts made by Oitswilliam Pang, these includes PSA.",
    "oitswilliam-pang.description": "Blog posts about Oitswilliam's things and projects.",
    "hardware.description": "Blog posts about the hardware, these includes unveiling and announcements.",
    "for-minecraft.description": "Blog posts about projects for Minecraft.",
    "reactions.description": "Blog posts about my reactions of things, sometimes I am biased and other times I don't or never. Sometimes I would place reviews in conjunction of bare reactions, and note that I will always give positive and negative points about the products.",
    "legacy.description": "Blog posts about or regarding the legacy projects. Usually called Bunny 350 Projects, as these are created during Bunny 350 days. It includes command creations, maps and server, but only command creations are actually public.",
    "anything-else.description": "Things not related to Oitswilliam's projects, but has written by Oitswilliam Pang."
    "mods.description": "Blog posts about modding, hey if hardware modding is not a key, you're wrong. This is extreme.",

    "language": "en",
    "direction": "ltr",
    "action.edit": "Edit this page",
    "action.skip": "Skip to content",
    "action.view": "View source of this page",
    "announce.dismiss": "Don't show this again",
    "blog.archive": "Archive",
    "blog.categories": "Categories",
    "blog.categories.in": "in",
    "blog.continue": "Continue reading",
    "blog.draft": "Draft",
    "blog.index": "Back to index",
    "blog.meta": "Metadata",
    "blog.references": "Related links",
    "clipboard.copy": "Copy to clipboard",
    "clipboard.copied": "Copied to clipboard",
    "consent.accept": "Accept",
    "consent.manage": "Manage settings",
    "consent.reject": "Reject",
    "footer": "Footer",
    "footer.next": "Next",
    "footer.previous": "Previous",
    "header": "Header",
    "meta.comments": "Comments",
    "meta.source": "Source",
    "nav": "Navigation",
    "readtime.one": "1 min read",
    "readtime.other": "# min read",
    "rss.created": "RSS feed",
    "rss.updated": "RSS feed of updated content",
    "search": "Search",
    "search.config.lang": "en",
    "search.config.pipeline": "stopWordFilter",
    "search.config.separator": "[\\s\\-]+",
    "search.placeholder": "Search",
    "search.share": "Share",
    "search.reset": "Clear",
    "search.result.initializer": "Initializing search",
    "search.result.placeholder": "Type to start searching",
    "search.result.none": "No matching documents",
    "search.result.one": "1 matching document",
    "search.result.other": "# matching documents",
    "search.result.more.one": "1 more on this page",
    "search.result.more.other": "# more on this page",
    "search.result.term.missing": "Missing",
    "select.language": "Select language",
    "select.version": "Select version",
    "source": "Go to repository",
    "source.file.contributors": "Contributors",
    "source.file.date.created": "Created",
    "source.file.date.updated": "Last update",
    "tabs": "Tabs",
    "toc": "Chapters",
    "top": "Back to top"
}[key] }}{% endmacro %}
